<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="col min-vh-100 p-4">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="https://thumbs.dreamstime.com/b/mujer-en-el-cine-comiendo-palomitas-de-ma%C3%ADz-un-gran-cubo-saladas-contra-una-pared-negra-espacio-vac%C3%ADo-para-texto-158724943.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>